@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	margin: 0;
	padding: 0;
	background: linear-gradient(to right, #3d3c3c, #181818);
	color: #a43931;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input::-webkit-inner-spin-button,
input::-webkit-calendar-picker-indicator {
	display: none;
	-webkit-appearance: none;
}
